ENVIRONMENT=production
DEBUG_MODE=False

APP_LANGUAGE=de

SECURITY_HEADERS_ENABLED=True
SESSION_SECRET_KEY=
SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_DAYS=30

RECAPTCHA_ENABLED=False
RECAPTCHA_SITE_KEY=
RECAPTCHA_SECRET_KEY=

DATABASE_USER=lyrauser
DATABASE_PASSWORD=VerySecurePassword123!
DATABASE_HOST=localhost
DATABASE_PORT=3306
DATABASE_NAME=lyradb

ALLOWED_IMAGE_EXTENSIONS=.jpg,.jpeg,.png,.webp,.gif
MAX_UPLOAD_SIZE=104857600